*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    color: darkgrey;
    background-color:beige;
    text-align: center;
}

h1{
    font-size: 54px;
    font-weight: 800;
}

p{
    font-size: 16px;
    color: gray;
}
a{
    text-decoration: none;
}
